/* *{
    border: 4px black solid;
    background-color: purple !important;
}
h1{
    color:red; 
    font-size: 50px;
    font-family: 700;
    background-color:blue !important; 
}  */





/* .blocks{
    background-color:tomato !important;
    color: yellow;
    font-size: 40px;
    width: 400px;
    height: 400px;
}
.extra {
    background-color: teal !important;
}
.title {
    color: pink;
}



#blocks-4 {
    width: 300px;
    height: 500px;
    color: blue;
    background-color: yellow !important;
    font-size: 20px;
} */


div {
    background-color: green;
    width: 200px; 
    height: 200px;
    color: wheat;
     font-size: 25px;
    text-align: center;  

    /* margin:10px 20px 30px 40px; */
     margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px; 
    margin-left: 500px;

}

#block-1 {
    background-color: purple;
    width: 200px;
    height: 200px;
    color: wheat;
    font-size: 40px;
    border: 5px yellow solid;

    padding: 200px 100px;
}

